# PostgreSQL
POSTGRES_USER=prod_user
POSTGRES_PASSWORD=prod_pass
POSTGRES_DB=greenai_prod

# Redis
REDIS_PASSWORD=redisStrongPass123

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production

# Traefik
TRAEFIK_EMAIL=email@domain.com
TRAEFIK_API_INSECURE=false

# Simulateur
SIMULATOR_1_ID=srv1
SIMULATOR_2_ID=srv2
SIMULATOR_3_ID=srv3
